/* ===== THEME VARIABLES ===== */
:root {
    --bg-color: #ffffff;
    --text-color: #222222;
    --section-bg: #f7f9f8;
    --card-bg: #ffffff;
    --primary-color: #2e7d32;
}

/* DARK MODE VARIABLES */
body.dark {
    --bg-color: #121212;
    --text-color: #f1f1f1;
    --section-bg: #1e1e1e;
    --card-bg: #242424;
    --primary-color: #4caf50;
}
body {
    background-color: var(--bg-color);
    color: var(--text-color);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

/* THEME TOGGLE BUTTON */
.theme-toggle {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
    margin-left: 20px;
    color: var(--text-color);
}

/* NAVBAR */
.navbar {
    background-color: var(--section-bg);
    border-bottom: 1px solid #eee;
}

.nav-container {
    max-width: 1200px;
    margin: auto;
    padding: 15px 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* LOGO */
.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo img {
    width: 35px;
    height: 35px;
}

.logo span {
    font-size: 20px;
    font-weight: bold;
    color: #2e7d32;
}

/* NAV LINKS */
.nav-links a {
    text-decoration: none;
    margin-left: 25px;
    color: #333;
    font-size: 16px;
}

.nav-links a:hover {
    color: #2e7d32;
}
/* HERO SECTION */
.hero {
    position: relative;
    height: 85vh;
    background-image: url("https://i.pinimg.com/736x/47/ae/d4/47aed4ee31728922504bdf76be62c01d.jpg");
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
}

.hero-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.55);
}

.hero-content {
    position: relative;
    max-width: 600px;
    padding: 0 20px;
    margin-left: 60px;
    color: #fff;
}

.hero-content h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero-content p {
    font-size: 18px;
    margin-bottom: 25px;
    line-height: 1.6;
}

.hero-btn {
    display: inline-block;
    padding: 14px 28px;
    background-color: #2e7d32;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    border-radius: 5px;
}

.hero-btn:hover {
    background-color: #256628;
}

/* FEATURES SECTION */
.features {
    padding: 70px 20px;
    background-color: #f7f9f8;
}

.section-title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 50px;
    color: #2e7d32;
}

/* GRID */
.feature-grid {
    max-width: 1100px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* CARD */
.feature-card {
    background-color: var(--card-bg);;
    padding: 30px 25px;
    border-radius: 10px;
    text-align: center;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.08);
    transition: transform 0.3s ease;
}

.feature-card:hover {
    transform: translateY(-8px);
}

.feature-card h3 {
    font-size: 20px;
    margin-bottom: 15px;
    color: var(--primary-color);
}

.feature-card p {
    font-size: 15px;
    color: #555;
    line-height: 1.6;
}


/* STATS SECTION */
.stats {
    background-color: #2e7d32;
    padding: 70px 20px;
    display: flex;
    justify-content: center;
    gap: 60px;
    flex-wrap: wrap;
}

.stat-box {
    text-align: center;
    color: #fff;
}

.stat-box h3 {
    font-size: 42px;
    margin-bottom: 8px;
}

.stat-box p {
    font-size: 16px;
    opacity: 0.9;
}

/* SPLIT SECTION */
.about-split {
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 30px 20px;
    max-width: 1200px;
    margin: auto;
}

.about-image img {
    width: 100%;
    max-width: 500px;
    border-radius: 12px;
}

.about-text h2 {
    font-size: 34px;
    color: #2e7d32;
    margin-bottom: 15px;
}

.about-text p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
}

.about-btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 26px;
    background-color: #2e7d32;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
}


/* MAP PREVIEW SECTION */
.map-preview {
    padding: 30px 20px;
    display: flex;
    align-items: center;
    gap: 60px;
    max-width: 1200px;
    margin: auto;
}

.map-text h2 {
    font-size: 34px;
    color: #2e7d32;
    margin-bottom: 15px;
}

.map-text p {
    font-size: 16px;
    line-height: 1.8;
    color: #555;
    margin-bottom: 25px;
}

.map-btn {
    display: inline-block;
    padding: 14px 28px;
    background-color: #2e7d32;
    color: #fff;
    text-decoration: none;
    border-radius: 6px;
    font-weight: bold;
}

/* FAKE MAP BOX */
.map-box {
    position: relative;
    width: 100%;
    max-width: 500px;
    height: 320px;
    background: url(https://i.pinimg.com/736x/0f/29/d5/0f29d571805aaba3761fdfa5059866a7.jpg);
    /*linear-gradient(135deg, #e8f5e9, #c8e6c9); */
    border-radius: 16px;
    box-shadow: 0 12px 30px rgba(0,0,0,0.12);
    overflow: hidden;
}

.map-label {
    position: absolute;
    bottom: 10px;
    right: 15px;
    font-size: 13px;
    color: #2e7d32;
    font-weight: bold;
}

/* MAP PINS */
.map-pin {
    position: absolute;
    font-size: 26px;
}

.pin1 { top: 60px; left: 120px; }
.pin2 { top: 150px; left: 250px; }
.pin3 { top: 100px; left: 350px; }


/* FOOTER */
/* .footer {
    background-color: #1b5e20;
    color: #ffffff;
}


.footer-bottom {
    background-color: #154a19;
    text-align: center;
    padding: 12px;
    font-size: 13px;
} */
/* ===== BIG FOOTER ===== */
.big-footer {
    background-color: #0f1f14;
    color: #ddd;
    margin-top: 100px;
}

/* CTA */
.footer-cta {
    padding: 70px 20px;
    text-align: center;
    background: linear-gradient(135deg, #2e7d32, #1b5e20);
    color: #fff;
}

.footer-cta h2 {
    font-size: 34px;
    margin-bottom: 20px;
}

.footer-cta-btn {
    padding: 14px 30px;
    background-color: #fff;
    color: #2e7d32;
    text-decoration: none;
    border-radius: 30px;
    font-weight: bold;
}

/* MAIN CONTENT */
.footer-content {
    max-width: 1200px;
    margin: auto;
    padding: 70px 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
}

.footer-col h3,
.footer-col h4 {
    color: #4caf50;
    margin-bottom: 15px;
}

.footer-col p {
    font-size: 14px;
    line-height: 1.7;
}

.footer-col ul {
    list-style: none;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #ddd;
    text-decoration: none;
}

.footer-col ul li a:hover {
    color: #4caf50;
}

/* SOCIAL ICONS */
.social-icons span {
    display: inline-block;
    margin-right: 12px;
    font-size: 18px;
    cursor: pointer;
}

/* NEWSLETTER */
.newsletter {
    display: flex;
    margin-top: 10px;
}

.newsletter input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 4px 0 0 4px;
}

.newsletter button {
    padding: 10px 14px;
    border: none;
    background-color: #4caf50;
    color: #fff;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

/* BOTTOM BAR */
.footer-bottom {
    background-color: #08140c;
    text-align: center;
    padding: 15px;
    font-size: 13px;
}



/* Phone Responsive part */
@media (max-width: 768px) {
    .hero {
        height: 70vh;
    }

    .hero-content {
        margin-left: 0;
        text-align: center;
        margin: auto;
    }

    .hero-content h1 {
        font-size: 32px;
    }

    .hero-content p {
        font-size: 16px;
    }
    
}
@media (max-width: 900px) {
    .feature-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .feature-grid {
        grid-template-columns: 1fr;
    }

    .section-title {
        font-size: 26px;
    }
}
@media (max-width: 900px) {
    .about-split {
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 900px) {
    .map-preview {
        flex-direction: column;
        text-align: center;
    }

    .map-box {
        height: 280px;
    }
}
/* footer */
@media (max-width: 900px) {
    .footer-content {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 600px) {
    .footer-content {
        grid-template-columns: 1fr;
        text-align: center;
    }

    .newsletter {
        justify-content: center;
    }
}
